<div class="my-trips-header">
  <div class="container">
    <div class="my-trips-title">
      <div class="dynamic-title">
        <h1>MY TRIPS</h1>
      </div>
      </div>
    </div>
  </div>

    <div class="my-trips-content-wrapper">



  <div class="container">
      <div class="row">
          <% @trips.each do |trip| %>
        <div class="col-xs-12 col-sm-6">
          <div class="trip-index-content">
            <div class="trip-card-index-image"></div>
            <div class="trip-card-index-title"><h4><%= trip.city %></h4></div>
            <div class="trip-card-index-description">
              <p><%= trip.start_day.strftime('%b %d') %> - <%= trip.end_day.strftime('%b %d, %Y') %></p>
            </div>
            <div class="trip-card-index-buttons">
            <a href="#"><i class="fab fa-whatsapp"></i></a>
            <a href="#"><i class="fab fa-whatsapp"></i></a>
            <a href="#"><i class="fab fa-whatsapp"></i></a>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

</div>



