<div><h1>Your Trips!</h1></div>
<div id="my-trips-container">
  <div>
    <div class="pre-trip-index-card">
      <h2>Upcoming Trips</h2>
    </div>
    <% @trips.each do |trip| %>
    <div class="upcoming-trips">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="body-your-trip">
            <div class="image-city">

            </div>


          </div>
        </div>
      </div>
      <% end %>
    </div>





    <div class="row">
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="body-your-trip">


        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="body-your-trip">


        </div>
      </div>
    </div>





















  </div>
