
<div class="trip-overview-header">
  <div class="container">
    <div class="trip-overview-title">
      <div class="dynamic-title">
        <h1>5 days in Berlin</h1>
      </div>
      <div class="dynamic-date-subtitle">
        <h4>Dec 14 - Dec 19, 2018</h4>
      </div>

      </div>
    </div>
  </div>

<div class="trip-content-wrapper">
  <div class="container">
    <div class="row">
      <div class="trip-content">

          <div class="trip-card-title"><h3>Staring Contest</h3></div>
          <div class="trip-card-image">
            <img src='https://res.cloudinary.com/druzius/image/upload/v1543862679/staring-contest.jpg'>
          </div>
          <div class="trip-card-address"><h5>Address: Schwaffelstrasse 22</h5></div>
          <div class="trip-card-description">
            <p>A staring contest is a game in which two people stare into each other's eyes and attempt to maintain eye contact for a longer period than their opponent can. The game ends when one participant looks away or smiles.</p>
          </div>
          <a href="#top" class="trip-card-button btn home-button">Do something</a>
      </div>
    </div>
  </div>
</div>


 @eventbrite_sub_categories_images = {
      "Jazz & Blues" => "https://res.cloudinary.com/druzius/image/upload/v1543932418/jazz-blues.jpg",
      "Classical" => "https://res.cloudinary.com/druzius/image/upload/v1543932416/classical.jpg",
      "EDM / Electronic" => "https://res.cloudinary.com/druzius/image/upload/v1543932420/electronic.jpg",
      "HipHop / Rap" => "https://res.cloudinary.com/druzius/image/upload/v1543932419/hiphop-rap.jpg",
      "Startups & Small Business" => "https://res.cloudinary.com/druzius/image/upload/v1543933429/start-up.jpg",
      "Finance" => "https://res.cloudinary.com/druzius/image/upload/v1543933430/finance.jpg",
      "Real Estate" => "https://res.cloudinary.com/druzius/image/upload/v1543933430/real-estate.jpg",
      "Sales & Marketing" => "https://res.cloudinary.com/druzius/image/upload/v1543933438/sales-marketing.jpg",
      "Gaming" => "https://res.cloudinary.com/druzius/image/upload/v1543935036/gaming.jpg",
      "Anime" => "https://res.cloudinary.com/druzius/image/upload/v1543934741/anime.jpg",
      "Film" => "https://res.cloudinary.com/druzius/image/upload/v1543934745/film.jpg",
      "Comics" => "https://res.cloudinary.com/druzius/image/upload/v1543934741/comics.jpg",
      "Medicine" => "https://res.cloudinary.com/druzius/image/upload/v1543934738/medicine.jpg",
      "Science" => "https://res.cloudinary.com/druzius/image/upload/v1543934740/science.jpg",
      "Biotech" => "https://res.cloudinary.com/druzius/image/upload/v1543934737/Biotech.jpg",
      "High Tech" => "https://res.cloudinary.com/druzius/image/upload/v1543934742/hightech.jpg"
    }
