<div style="height: 300px"></div>
<button id="menu-button">Hide Menu</button>
<div id="menu">
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
    <div class="card-description">
      <h1>French food || italian food || japanese food || fuck you food</h1>
    </div>
    <a class="card-link" href="#" ></a>
  </div>
  <div class="btn btn-info" id="submit-button">
    <a href="#">Submit</a>
  </div>
</div>