<div>

<%= render 'shared/banner' %>
</div>

<div class="description-wrapper">
  <div class="container">
    <div class="how-it-works">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="plan"> <img src="https://res.cloudinary.com/druzius/image/upload/v1543492980/map-of-roads.png" alt="map" height="100" width="100"></div>
          <h5>Get a personalized plan</h5>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="plan"> <img src="https://res.cloudinary.com/druzius/image/upload/v1543492980/map-of-roads.png" alt="map" height="100" width="100"></div>
          <h5>Get a personalized plan</h5>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="plan"> <img src="https://res.cloudinary.com/druzius/image/upload/v1543492980/map-of-roads.png" alt="map" height="100" width="100"></div>
          <h5>Get a personalized plan</h5>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="plan"> <img src="https://res.cloudinary.com/druzius/image/upload/v1543492980/map-of-roads.png" alt="map" height="100" width="100"></div>
          <h5>Get a personalized plan</h5>
        </div>
      </div>
    </div>
  </div>


<div>


</div>
</div>


