<div>

<%= render 'shared/banner' %>
</div>

<div class="description-wrapper">
  <div class="container">
    <div class="how-it-works">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="plan"> <img src="https://res.cloudinary.com/druzius/image/upload/v1542806550/woman_cleaning.png" alt="Woman cleaning" height="300" width="350"></div>
        </div>
      </div>
    </div>
  </div>


<div>


</div>
</div>


