@import "new";
.show-category-title {
  margin: 120px 0 0 0;
  color: #f2f2f2;
  text-shadow: 0px 1px 0px black;
}
.title-bg {
  background-color: $dark-green;
  background: linear-gradient(0deg, rgba(27,101,105,1) 0%, rgba(0,128,128,1) 100%);
  padding: 2px 0px 2px 25px;
  width: 100%;
  border-radius: 5px;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.show-category-card-sect {
  margin-top: 25px;
}
.show-category-card {
  margin: 15px 0;
}
.show-category-card-image {
  height: 200px;
  width: 100%;
  background: #272727;
  position: relative;
  display: block;
  overflow: hidden!important;
  border-radius: 5px;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.show-category-card-image img {
  width: 100%;
  opacity: 0.8;
  position: relative;
  margin: 0 auto;
  transform: scale(1,1);
  -ms-transform: scale(1,1);
  -webkit-transform: scale(1,1);
  transition: all 0.2s linear 0s;
  vertical-align: middle;
  border-style: none;
}
.show-category-card-image:hover img {
  opacity: 0.4;
  z-index: 5;
  transform: scale(1.2,1.2);
  transition: all 0.2s linear 0s;
}
.show-category-card-image a:hover {
  color: #af9b7a;
  text-decoration: none;
  outline-width: 0;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.show-category-card-caption{
  position: absolute;
  z-index: 7;
  display: block;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: #fff;
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: normal;
  line-height: 1.7rem;
}


.menu-button:hover {
  cursor: pointer;
  opacity: .7;
}
