.banner {
  color: white;
  text-align: left;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 58px;
  font-weight: bold;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
  // text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  // opacity: 0.6;
  margin-bottom: 30px;
}

.banner-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.form {
  margin-top: 18px;
}

.text {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}
.home-button {
  background-color: $green;
  border-radius: 10px;
  padding: 12px;
  width: 160px;
  font-size: 20px;
}

.home-button:hover {
  color: white;
  background-color: $dark-green;
}

.city-input  {
  padding: 25px;
  opacity: 0.7;
  border-radius: 10px;
}
.city-input::placeholder {
  color: $dark-green;
  font-size: 20px;
}

.date-input  {
  padding: 25px;
  opacity: 0.7;
  border-radius: 10px;
  font-size: 20px;
  opacity: 0.7;
}
.date-input::placeholder {
  color: $dark-green;
  font-size: 20px;
}

.people-input  {
  padding: 25px;
  opacity: 0.7;
  border-radius: 10px;
}
.people-input::placeholder {
  color: $dark-green;
  font-size: 20px;
}

#people-input {
  width: 152px;
  opacity: 0.7;
}

#start-date {
  width: 152px;
  opacity: 0.7;
}

#end-date {
  width: 152px;
  opacity: 0.7;
}

.fa-chevron-down {
  font-size: 30px;
  color: white;
  position: absolute;
  top: 85%;
  right: 50%;
  cursor: pointer;
  animation: 1s soft-blink infinite alternate;
}

@keyframes soft-blink {
  0% { opacity: 0.8; }
  50% { opacity: 0.8; }
  100% { opacity: 0; }
}
