/*--------------------------------
GENERAL
---------------------------------*/

.sect {
    padding: 130px 0;
}


/*--------------------------------
HOW IT WORKS
---------------------------------*/
.sect--type{
  background-image: linear-gradient(-225deg, rgba(186,210,213,0.7) 0%, rgba(0,36,61,0.5) 30%), url('https://res.cloudinary.com/druzius/image/upload/v1543497756/erik-odiin-539947-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
}

.sect__title {
    color: white;
    margin-top: 0;
    text-transform: uppercase;
    line-height: 40px;
    font-size: 30px;
    margin-bottom: 20px;
}

.sect__subtitle {
    margin-bottom: 0;
    color: #f2f2f2;
}

.coffee {
    padding: 0 25px;
}

.coffee__name {
    letter-spacing: 1px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 15px;
    color: white;
}

.coffee__img {
    width: 70%;
}

.coffee__descr {
    margin: 0;
    line-height: 23px;
    color: white;
}

/*--------------------------------
2 HALF SECTION
---------------------------------*/
.half-sect__second {
    background-image: url('https://res.cloudinary.com/druzius/image/upload/v1543497758/adventure-backpack-daytime-887828.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#fff;
}

.half {
    width: 50%;
    display: table-cell;
    background-color:#fff;
}

.half-sect__first {
    padding: 150px;
   background-color:#fff;
}

.description__p {
    margin-bottom: 40px;
}

.description__title {
    margin-top: 0;
    margin-bottom: 15px;
}

/*--------------------------------
GREAT COFFEE
---------------------------------*/
.sect--great {
    background-image: url('https://res.cloudinary.com/druzius/image/upload/v1543500278/sutirta-budiman-575267-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}

/*--------------------------------
THE BEST COFFEE SHOP
---------------------------------*/
.sect--best {
    background-color: black;
}

.best__title {
    letter-spacing: 1px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 15px;
    color: #daa37f;
}

.best__img {
    width: 50px;
}

.best--margin {
    margin-top: 20px;
    margin-bottom: 40px;
}

.best--bottom {
    margin-bottom: 40px;
}


/*--------------------------------
TESTIMONIAL CARDS
---------------------------------*/
.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.snip1515 {
  position: relative;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #000000;
  text-align: center;
  line-height: 1.4em;
  font-size: 14px;
  box-shadow: none !important;
}


.snip1515 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.snip1515 .profile-image {
  display: inline-block;
  width: 80%;
  z-index: 1;
  position: relative;
  padding: 10px;
  border: 2px solid $green;
}

.snip1515 .profile-image img {
  max-width: 100%;
  vertical-align: top;
}

.snip1515 figcaption {
  width: 100%;
  background-color: #F2F2F2;
  color: #555;
  padding: 125px 25px 25px;
  margin-top: -100px;
  display: inline-block;
}

.snip1515 h3,
.snip1515 h4,
.snip1515 p {
  margin: 0 0 5px;
}

.snip1515 h3 {
  font-weight: 600;
  font-size: 1.3em;
  font-family: 'Playfair Display', Arial, sans-serif;
}

.snip1515 h4 {
  color: #8c8c8c;
  font-weight: 400;
  letter-spacing: 2px;
}

.snip1515 p {
  font-size: 0.9em;
  letter-spacing: 1px;
  opacity: 0.9;
}

