// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

@import "trips/index";
@import "venues/index";

a {
    color: #fff;
    text-decoration: none;
}

.page-wrapper {
  margin-top: -100px;
}
