// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

@import "trips/main";
@import "venues/index";
@import "events/main";

.bg-image-wrapper {
/* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  background-size: cover;

  /* Set up positioning */
  position: absolute;
  top: 0;
  left: 0;
}

a, a:visited, a:focus {
    color: #fff;
    text-decoration: none;
}

